<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExcelPath" value="C:\Users\RaphaelGundim\Desktop\Timesheet.xlsx"/>
		<add key="Url" value="https://itworks.com.br/controle"/>
		<add key="Login" value="raphael.gundim@gmail.com"/>
		<add key="Password" value="raphael@gundim1234"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="YourConnectionStringHere"/>
	</connectionStrings>
</configuration>
